{% extends "base.html" %}
{% block title %} title {% endblock %}

{% block content %}
<h1 class="text-center">Your shopping cart</h1>
<br>

<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Remove</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      {% with product=item.product %}
    <tr>
      <td>
        <a href="{{ product.get_absolute_url }}">
        <img style="width: 40px; height: 40px;" src="{% if product.image %}{{ product.image.url }} {% endif %}">
        </a>
      </td>
      <td>{{ product.title }}</td>
      <td>
        <form class="" action="{% url 'cart_add' product.id %}" method="post">
          {% csrf_token %}
          {{ item.update_quantity_form.quantity }}
          {{ item.update_quantity_form.update }}
          <input class="btn btn-primary ml-2" type="submit" name="" value="Update">
        </form>
      </td>
      <!-- <td>{{ item.quantity }}</td> -->
      <td><a class="btn btn-danger" href="{% url "cart_remove" product.id %}">Remove</a></td>
      <td class="num">${{ item.price }} X {{ item.quantity }}</td>
      <td class="num">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
  {% endfor %}

  <tr class="total">
    <td>Total</td>
    <td colspan="4"></td>
    <td class="num">${{ cart.get_total_price }}</td>
  </tr>

  </tbody>
</table>
<br>

<div class="text-right">
  <a href="#" class="btn btn-primary">Checkout</a>
</div>

</div>

{% endblock %}
