{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %} {{ object }} {% endblock %}
{% block content %}


    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div
            class="banner_content d-md-flex justify-content-between align-items-center"
          >
            <div class="mb-3 mb-md-0">
              <h2>Product Details</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link mr-4 ">
              <p><a href="{% url 'home' %}">Home</a><span>{{ object }}</span></p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-ride="carousel"
              >

                <ol class="carousel-indicators">

                  {% for img in images %}
                  <li {% if forloop.counter == 0 %}class="active"{% endif %}
                    data-target="#carouselExampleIndicators"
                    data-slide-to="{{ forloop.counter|sub:1 }}"
                  >
                  {% if img.image %}
                    <img src="{{ img.image.url }}" alt="" style="height:60px; width:60px;" />
                  {% endif %}
                  </li>
                  {% endfor %}
                </ol>
                <div class="carousel-inner">
                  {% for img in images %}
                  <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                    <img
                      class="d-block w-100"
                      src="{{ img.image.url }}"
                      alt="slide {{img.id}}"
                    />

                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{ object.name }}</h3>
              <h2>${{ object.price }}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="{% url 'category' product.category.id %}">
                    <span>Category</span> : {{ object.category }}</a
                  >
                </li>
                <li>
                  <a href="#"> <span>Availibility</span> : {{ object.available }}</a>
                </li>
              </ul>
              <p>
                {{ object.preview_text }}
              </p>
              </div>
              <div class="card_area">

                  <form action="{% url 'cart_add' product.id %}" method="post">
                  {{ cart_product_form }}
                  {% csrf_token %}
                  <input class="main_btn" type="submit" value="Add to cart">

                 </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
              >Description</a
            >
          </li>

        </ul>
        <div class="tab-content" id="myTabContent">
          <div
        
          >
            <p>
            {{ object.description }}
            </p>

          </div>


        </div>
      </div>
    </section>
    <!--================End Product Description Area =================-->







{% endblock %}
