{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Eiser {% endblock %}
{% block content %}


<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Blog Details</h2>
          <p>Very us move be blessed multiply night</p>
        </div>
        <div class="page_link">
          <a href="">Home</a>
          <a href="{% url 'blog_home' %}">Blog </a>
          <a href="#">Blog Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section_gap">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 posts-list">
              <div class="single-post">
                      <div class="feature-img">
                          <img class="img-fluid" src="{{ object.image.url }}" alt="">
                      </div>
                  <div class="blog_details">
                      <h2>{{ object.title }}</h2>
                      <ul class="blog-info-link mt-3 mb-4">
                          <li><a href="#"><i class="ti-user"></i> {{ object.author }}</a></li>
                          <li><a href="#"><i class=""></i> {{ object.category.name }}</a></li>
                          <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                        </ul>
                      <p class="excert">
                        {{ object.body }}
                      </p>
                  </div>
              </div>
              <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                  <p class="like-info"><span class="align-middle"><i class="ti-heart"></i></span> Lily and 4 people like this</p>
                  <div class="col-sm-4 text-center my-2 my-sm-0">
                    <p class="comment-count"><span class="align-middle"><i class="ti-comment"></i></span> 06 Comments</p>
                  </div>
                  <ul class="social-icons">
                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                    <li><a href="#"><i class="ti-dribbble"></i></a></li>
                    <li><a href="#"><i class="ti-wordpress"></i></a></li>
                  </ul>
                </div>

                <div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="img/blog/prev.jpg" alt="">
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="ti-arrow-left text-white"></span>
                                </a>
                            </div>
                            <div class="detials">
                                <p>Prev Post</p>
                                <a href="#">
                                    <h4>Space The Final Frontier</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Next Post</p>
                                <a href="#">
                                    <h4>Telescopes 101</h4>
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="ti-arrow-right text-white"></span>
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="img/blog/next.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>


              <div class="blog-author">
                <div class="media align-items-center">
                  <img src="img/blog/author.png" alt="">
                  <div class="media-body">
                    <a href="#">
                      <h4>Harvard milan</h4>
                    </a>
                    <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he our dominion twon Second divided from</p>
                  </div>
                </div>
              </div>

              <div class="comments-area">
                {% with comments.count as total_comments %}
                    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
               {% endwith %}
                  <div class="comment-list">
                    {% for comnt in comments %}
                    <div class="single-comment justify-content-between d-flex">
                      <div class="user justify-content-between d-flex">
                          <div class="thumb">
                              <img src="img/blog/c1.png" alt="">
                          </div>
                          <div class="desc">
                              <p class="comment">
                                {{ comnt.content }}
                              </p>

                              <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                  <h5>
                                    <a href="#"> {{ comnt.author }}</a>
                                  </h5>
                                  <p class="date">{{ comnt.created_on|date:"F d Y" }}</p>
                                </div>

                                <div class="reply-btn">
                                  <a href="#" class="btn-reply text-uppercase">reply</a>
                                </div>
                              </div>

                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  </div>


              </div>
              <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  {% if user.is_authenticated %}
                  <form class="form-contact comment_form" action=" " method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                      <button type="submit" class="main_btn">Send Message</button>
                  </form>
                  {% else %}
                  <a href="{% url 'login' %}">
                    <form class="form-contact comment_form" action=" " method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                        <button type="submit" class="main_btn">Send Message</button>
                    </form>
                  </a>
                  {% endif %}
              </div>
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                      <form action="#">
                        <div class="form-group">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search Keyword">
                            <div class="input-group-append">
                              <button class="btn" type="button"><i class="ti-search"></i></button>
                            </div>
                          </div>
                        </div>
                        <button class="main_btn rounded-0 w-100" type="submit">Search</button>
                      </form>
                  </aside>

                  <aside class="single_sidebar_widget post_category_widget">
                    <h4 class="widget_title">Category</h4>
                    <ul class="list cat-list">
                      {% for cat in blogcategories %}
                        <li>
                            <a href="#" class="d-flex">
                                <p>{{ cat.name }}</p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                  </aside>

                  <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Recent Post</h3>
                      {% for recent in recent %}
                      <div class="media post_item">
                          <a href="{{ recent.get_absolute_url }}"><img  style="height: 65px; width:105px;" src="{{ recent.image.url }}" alt="post"></a>
                          <div class="media-body">
                              <a href="single-blog.html">
                                  <a href="{{ recent.get_absolute_url }}"><h3>{{ recent.title }}</h3></a>
                              </a>
                              <p>{{ recent.created|date:"F d, Y" }}</p>
                          </div>
                      </div>
                      {% endfor %}
                  </aside>


                  <aside class="single_sidebar_widget instagram_feeds">
                    <h4 class="widget_title">Instagram Feeds</h4>
                    <ul class="instagram_row flex-wrap">
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i1.png' %}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i2.png' %}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i3.png' %}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i4.png' %}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i5.png' %}" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <img class="img-fluid" src="{% static 'img/instagram/widget-i6.png' %}" alt="">
                            </a>
                        </li>
                    </ul>
                  </aside>


                  <aside class="single_sidebar_widget newsletter_widget">
                    <h4 class="widget_title">Newsletter</h4>

                    <form action="#">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email" required>
                      </div>
                      <button class="main_btn rounded-0 w-100" type="submit">Subscribe</button>
                    </form>
                  </aside>
              </div>
          </div>
      </div>
  </div>
</section>
<!--================Blog Area =================-->

{% endblock %}
